@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    overflow-x: hidden;
}

p,
span,
li,
button,
title {
    font-family: 'Lato', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
.accordion-button,
.accordion-button .collapsed {
    font-family: 'Frank Ruhl Libre', serif;
}